 @font-face{
    font-family: 'MilkyCoffee';
    src: url('MilkyCoffee.eot');
    src: url('MilkyCoffee.eot?#iefix') format('embedded-opentype'),
    url('MilkyCoffee.woff') format('woff'),
    url('MilkyCoffee.ttf') format('truetype'),
    url('MilkyCoffee.svg#webfont') format('svg');
            }

body {
    background-color: #FAF6F0;
    }

body {font-family: Milky Coffee}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 70px;
  color: #A98467;
  text-decoration: none;
  font-size: 50px;
}

.navbar a:hover {
  color: #EF3E43;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
  }
}