@font-face {
  font-family: 'milky_coffeeregular';
  src: url('./FONTS/webfontkit-20221117-113137/milky_coffee-webfont.woff2') format('woff2'),
    url('./FONTS/webfontkit-20221117-113137/milky_coffee-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* LANDING PAGE */

body {
  background-color: #FAF6F0;
}

body {
  font-family: 'milky_coffeeregular', sans-serif
}

/* LANDING PAGE */

.Logo {
  text-align: center;
}

.navbar {
  overflow: auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.navbar a {
  padding: 25px;
  color: #A98467;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  color: #EF3E43;
}


.HomeContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100vw;
  overflow: hidden;
}

.Img-Left {
  grid-area: 1 / 1 / 4 / 2;
  margin: 0 auto;
}

.Img-Center {
  grid-area: 1 / 2 / 4 / 3;
  margin: 0 auto;
}


.Img-Right {
  grid-area: 1 / 3 / 4 / 4;
  margin: 0 auto;
}

.FindSitter {
  grid-area: 4 / 1 / 5 / 4;
}

.PetPeople {
  grid-area: 1 / 1 / 2 / 4;
}

.Home {
  grid-area: 1 / 1 / 2 / 2;
}


.PetPeople {
  font-family: 'milky_coffeeregular';
  font-size: 40px;
  text-align: center;
  color: #6C594D;
  z-index: 100;
  margin-top: -20px;
}

.findbutton a {
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 20px;
  background: #67897B;
  padding: 10px;
  width: 225px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.findbutton a:hover {
  color: #A6BFA3;
}


.footertext1 h1{
  color: #A6BFA3;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}


.footertext1 p{
  color: #A6BFA3;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1px;
  font-family: 'Roboto', sans-serif;
}

.pawfooter {
  opacity: 20%;
}


/* LANDING PAGE MEDIA */
@media (max-width: 600px) {


  .navbar a{
    padding: 0px;
    color: #A98467;
    text-decoration: none;
    font-size: 10px;
    margin-top: 0px;
    overflow: stack;
  }


  .Img-Left,
  .Img-Right {
    display: none;
  }

  .Img-Center img {
    width: 100vw;
    height: auto;
  }

  .PetPeople {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .PetPeople,
  h1 {
    font-size: 40px;
  }

  .FindSitter a:hover {
    color: #A6BFA3;
  }
}

/* FIND A SITTER PAGE */

.FindaSitterpg {  display: grid;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 2.5fr 3fr; 
  grid-template-rows: .05fr .05fr .05fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "block1 paw1 Step1 block4"
    "block paw2 Step2 paw4"
    "block3 paw3 Step3 block5"
    "block6 block6 Submit3 block7"; 
}

.block1 { grid-area: block1; }
.block2 { grid-area: block2; }
.block3 { grid-area: block3; }
.block4 { grid-area: block4; }
.block5 { grid-area: block5; }
.block6 { grid-area: block6; }
.block7 { grid-area: block7; }

.paw1 { grid-area: paw1; }
.Step1 { grid-area: Step1; }

.paw2 { grid-area: paw2; }
.Step2 { grid-area: Step2; }

.paw3 { grid-area: paw3; }
.Step3 { grid-area: Step3; }

.paw4 { grid-area: paw4; }
.newpic { grid-area: 1 / 4 / 4 / 5; }

.Submit3 { grid-area: Submit; }


.LetsFind h1{
  font-size: 30px;
  color: #6C594D;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  
}

.paw1 {
  transform: rotate(7deg);
  margin-left: 110px;
  width: 150;
}

.Q1 h2{
  font-size: 30px;
  color: #A6BFA3;
}


.Q1 p{
  font-size: 10px;
  color: #000000;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: -20px;
}

.Answer1 input[type=text] {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
}


.Paw2 {
  transform: rotate(-7deg);
  margin-left: 100px;
}

.Q2 h2{
  font-size: 30px;
  color: #A6BFA3;
}

.Q2 p{
  font-size: 10px;
  color: #000000;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: -20px;
}

.Answer2 input[type=text] {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
}


.Paw3 {
  transform: rotate(7deg);
  margin-left: 120px;
}

.Q3 h2{
  font-size: 30px;
  color: #A6BFA3;
}

.Q3 p {
  font-size: 10px;
  color: #000000;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  margin-top: -20px;
}

.Answer3 input[type=text] {
  width: 500px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  padding-left: 15px;
}

.Submit3 a{
  color: #EF3E43;
  text-decoration: none;
}

.Submit3 a:hover {
  color: #A6BFA3;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color:#6C594D;
  font-size: 25px;
  padding: 16px 32px;
  text-align: center;
}
.text a{
  color:#EF3E43;
  font-size: 25px;
}

.SubmitFind a{
  color: #EF3E43;
  text-decoration: none;
  margin-left: -600px;
  font-size: 35px;
}

.SubmitFind a:hover {
  color: #A6BFA3;
}

/* FIND A SITTER MEDIA */
@media (max-width: 600px) {

  .LetsFind h1{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    
  }
  
  .paw1 {
  margin-left: 25px;

  }
  
  .Q1 h2{
    font-size: 20px;
    color: #A6BFA3;
  }
  
  
  .Q1 p{
    font-size: 8px;
    color: #000000;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
  }
  
  .Answer1 input[type=text] {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 15px;
  }
  
  
  .Paw2 {
    margin-left: 25px;
  }
  
  .Q2 h2{
    font-size: 20px;
    color: #A6BFA3;
  }
  
  .Q2 p{
    font-size: 8px;
    color: #000000;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
  }
  
  .Answer2 input[type=text] {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 15px;
  }
  
  
  .Paw3 {
    margin-left: 25px;
  }
  
  .Q3 h2{
    font-size: 20px;
    color: #A6BFA3;
  }
  
  .Q3 p {
    font-size: 8px;
    color: #000000;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
  }
  
  .Answer3 input[type=text] {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding-left: 15px;
  }

  .SubmitFind a {
    font-size: 20px;
  }

  .newpic {
  display: none;
  }

}

/* MEET OUR SITTERS PAGE */

.MeetSittersTitle a{
  color:#6C594D;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}


.person1text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.hide {
  display: none;
  text-align: center;
}

.person1text:hover + .hide {
  display: block;
  color: red;
}

.person2text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person2text:hover + .hide {
  display: block;
  color: red;
}

.person3text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person3text:hover + .hide {
  display: block;
  color: red;
}

.person4text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person4text:hover + .hide {
  display: block;
  color: red;
}

.person5text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person5text:hover + .hide {
  display: block;
  color: red;
}

.person6 {
  margin-top: 0px;
}

.person6text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person6text:hover + .hide {
  display: block;
  color: red;
}

.person7 {
  margin-top: 0px;
}

.person7text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person7text:hover + .hide {
  display: block;
  color: red;
}

.person8 {
  margin-top: 0px;
}

.person8text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person8text:hover + .hide {
  display: block;
  color: red;
}

.person9 {
  margin-top: 0px;
}

.person9text {
  margin-top:-30px;
  text-align: center;
  color:#6C594D;
}

.person9text:hover + .hide {
  display: block;
  color: red;
}

.person10 {
  margin-top: 0px;
}

.person10text {
  margin-top:-30px;
  text-align: center;
  color:#67897B;
}

.person10text:hover + .hide {
  display: block;
  color: red;
}

.pawfootermeet {
  opacity: 20%;
}

/* MEET OUR SITTERS MEDIA */


.MeetOurSitters {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "person1 person2 person3 person4 person5"
    "person6 person7 person8 person9 person10";
}

.person1 { 
  grid-area: person1; 
}


.person2 { 
  grid-area: person2; 
}

.person3 { 
  grid-area: person3; }

.person4 { grid-area: person4; 
}

.person5 { 
  grid-area: person5;
 }

.person6 {
   grid-area: person6; 
  }

.person7 {
   grid-area: person7; 
  }

.person8 { 
  grid-area: person8;
 }

.person9 { 
  grid-area: person9; 
}

.person10 { 
  grid-area: person10; 
}




/* BECOME A SITTER PAGE */

.headerbecome {
  text-align: center;
  font-size: 30px;
  color: #6C594D;
  margin-top: 45px;
}

.subbecome {
  text-align: center;
  font-size: 7px;
  color: #6C594D;
  opacity: 50%;
  font-family: 'Roboto', sans-serif;
}

.FormTitle {
  text-align: center;
  font-size: 30px;
  color: #67897B;
  margin-top: 5px;
}

.FormQuestions {
  margin-top: -30px;
  margin-left: 30px;
}

.FormQ1 a{
color: #A6BFA3;
float: left;
margin-top: 15px;
align-items: center;
margin-left: 30px;
}

.FormA1 input[type=text] {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
}

.FormA1 {
  float: left;
  margin: 7px;
}

.FormQ2 a{
  color: #A6BFA3;
  float: left;
  margin-top: 15px;
 margin-left: 50px;
}

.FormA2 input[type=text] {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
}

.FormA2 {
  float: left;
  margin: 7px;
}

.FormQ3 a{
  color: #A6BFA3;
  float: left;
  margin-top: 15px;
  float:left;
  margin-left: 30px;
  }
  
  .FormA3 input[type=text] {
    width: 240px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  .FormA3 {
    float: left;
    margin: 7px;
  }

  .FormQ4 a{
    color: #A6BFA3;
    float: left;
    margin-top: 15px;
    margin-left: -0px;
      }
    
    .FormA4 input[type=text] {
      width: 150px;
      height: 50px;
      border-radius: 15px;
      border: none;
      font-size: 20px;
      text-align: left;
      padding-left: 15px;
      margin-left: -50px;
      font-family: 'Roboto', sans-serif;
    }
    
    .FormA4 {
      float: center;
      margin: 7px;
    }



  .FormQ5 a{
      color: #A6BFA3;
      float: left;
      margin-top: 15px;
      margin-left: 30px;
      }
      
      .FormA5 input[type=text] {
        width: 575px;
        height: 75px;
        border-radius: 15px;
        border: none;
        font-size: 20px;
        text-align: left;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
      }
      
      .FormA5 {
        float: left;
        margin: 7px;
        margin-left: 30px;
      }

      .Submit2 a{
        color: #EF3E43;
        text-decoration: none;
      }

      .Submit2 a:hover {
        color: #A6BFA3;
      }

.BecomeaSitterpg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 1fr 1fr;
  width: 100vw;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "PawBecome1 Form Form PawBecome2";
}

.PawBecome1 {
  grid-area: PawBecome1;
  opacity: 20%;
  transform: rotate(-20deg);
}

.Form {
  grid-area: Form;
}

.PawBecome2 {
  grid-area: PawBecome2;
  opacity: 20%;
  transform: rotate(20deg);
}


/* BECOME A SITTER MEDIA */

/* FormSubmit Page */
.hide {
  display: none;
  text-align: center;
}

.myDIV {
  color: #67897B;
  font-size: 50px;
  text-align: center;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

/* JAVA */
